label {
  margin-bottom: 0;
}

.form-control {
    display: inline-block;
}

/* Labeled */
.ux-labeled {
  display: inline-flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}

.ux-labeled-vertical {
  flex-direction: column;
}

.ux-labeled.ux-m-halign-left { justify-content: flex-start; }
.ux-labeled.ux-labeled-vertical.ux-m-halign-left { align-items: flex-start; }

.ux-labeled.ux-m-halign-center { justify-content: center; }
.ux-labeled.ux-labeled-vertical.ux-m-halign-center { align-items: center; }

.ux-labeled.ux-m-halign-right { justify-content: flex-end; }
.ux-labeled.ux-labeled-vertical.ux-m-halign-right { align-items: flex-end; }

.ux-labeled.ux-m-valign-top { align-items: flex-start; }
.ux-labeled.ux-labeled-vertical.ux-m-valign-top { justify-content: flex-start; }

.ux-labeled.ux-m-valign-center { align-items: center; }
.ux-labeled.ux-labeled-vertical.ux-m-valign-center { justify-content: center; }

.ux-labeled.ux-m-valign-bottom { align-items: flex-end; }
.ux-labeled.ux-labeled-vertical.ux-m-valign-bottom { justify-content: flex-end; }

.ux-checkbox {
  font-weight: normal;
}

.ux-container {
}

.ux-anchor-pane {
  position: relative;
}

/* VBox component */
.ux-v-box { display: flex; flex-direction: column; }
.ux-v-box > .ux-slot { display: block; width: 100%; }
.ux-v-box.ux-m-fit-width > .ux-slot > * { width: 100%; }

.ux-v-box.ux-m-halign-left { align-items: flex-start; }
.ux-v-box.ux-m-halign-left > .ux-slot { text-align: left; }

.ux-v-box.ux-m-halign-center { align-items: center; }
.ux-v-box.ux-m-halign-center > .ux-slot { text-align: center; }

.ux-v-box.ux-m-halign-right { align-items: flex-end; }
.ux-v-box.ux-m-halign-right > .ux-slot { text-align: right; }

.ux-v-box.ux-m-valign-top { justify-content: flex-start; }
.ux-v-box.ux-m-valign-center { justify-content: center; }
.ux-v-box.ux-m-valign-bottom { justify-content: flex-end; }

/* List View */
.ux-list-view { display: flex; flex-direction: column; }
.ux-list-view > .ux-slot { display: block; width: 100%; cursor: pointer; }

.ux-list-view.ux-m-halign-left { align-items: flex-start; }
.ux-list-view.ux-m-halign-left > .ux-slot { text-align: left; }

.ux-list-view.ux-m-halign-center { align-items: center; }
.ux-list-view.ux-m-halign-center > .ux-slot { text-align: center; }

.ux-list-view.ux-m-halign-right { align-items: flex-end; }
.ux-list-view.ux-m-halign-right > .ux-slot { text-align: right; }

.ux-list-view.ux-m-valign-top { justify-content: flex-start; }
.ux-list-view.ux-m-valign-center { justify-content: center; }
.ux-list-view.ux-m-valign-bottom { justify-content: flex-end; }

/* HBox component */
.ux-h-box { display: flex; flex-direction: row; }
.ux-h-box > .ux-slot { display: inline-block; }
.ux-h-box.ux-m-fit-height > .ux-slot > * { height: 100%; }

.ux-h-box.ux-m-halign-left { justify-content: flex-start; }
.ux-h-box.ux-m-halign-center { justify-content: center; }
.ux-h-box.ux-m-halign-right { justify-content: flex-end; }

.ux-h-box.ux-m-valign-top { align-items: flex-start; }
.ux-h-box.ux-m-valign-center { align-items: center; }
.ux-h-box.ux-m-valign-bottom { align-items: flex-end; }


/* Checkbox component */
.ux-checkbox > input[type=checkbox] {
  margin-top: 0;
  margin-right: 4px;
  vertical-align: middle;
}
